HEADER {
	width: 50%;
	margin: 40px auto;
	background-color: grey;
	text-align: center;
}

TABLE {
	width: 60%;
	margin: 0 auto;
}


.boxes {
	width: 200px;
	height:200px;
	text-align: center;
	margin: 40px auto;
}

.playerButtons {
	display: inline;
}

.playerOneLogo {
	background-image: url("js.jpeg");
	width: 200px;
	height: 200px;
	text-align: center;
	margin: 0 auto;
	border: 10px solid yellow;


}

.playerTwoLogo {
	background-image: url("HTML.jpeg");
	background-repeat: repeat-x none;
	width: 200px;
	height: 200px;
	text-align: center;
	margin: 0 auto;
	border: 10px solid red;

}

TD {
	border: 5px solid black;
}

