

HEADER {
	font-family: Times, "Times New Roman", Georgia, serif; 
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
}

.boxes {
	width: 50%;
	height:500px;
	text-align: center;
	margin: 0 auto;
}

#firstHit, #secondHit{
	background-color: black;
	width: 100px;
	height: 30px;
	color: grey;
	text-align: center;
	padding-top: 10px;
}

TABLE {
	width: 60%;
	margin: 0 auto;
}


TD {
	border: 5px solid black;
}


.boxes {
	width: 200px;
	height:200px;
	text-align: center;
	margin: 40px auto;
}

.playerButtons {
	display: inline;
}

.playerOneLogo {
	background-image: url("js.jpeg");
	width: 200px;
	height: 200px;
	text-align: center;
	margin: 0 auto;
	border: 10px solid yellow;


}

.playerTwoLogo {
	background-image: url("HTML.jpeg");
	background-repeat: repeat-x none;
	width: 200px;
	height: 200px;
	text-align: center;
	margin: 0 auto;
	border: 10px solid red;

}